<% include ./partials/header %>

<h1>Index Page</h1>

<% blogs.forEach(function(blog){ %>
    <div class="ui raised very padded text container segment">
        <h2><%=blog.title%></h2>
        <img src="<%= blog.image %>">
        <span><%= blog.created %></span>
        <p><%= blog.body.subString(0,50) + "..." %><a href="/blogs/<%= blog._id %>">Read more..</a></p>
        
    </div>
<% }); %>


<% include ./partials/footer %>